*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

body{
    background-color: rgb(205, 208, 208);
}

    header{
    display: flex;
    height: 50px;
    background-color: rgb(42, 136, 184);
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
header ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}
.banner{
    background-image: url(assets/wallpaper.jpeg);
    background-size: cover;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: start;
}

.banner h1{
    font-size: 40px;
    margin-left: 200px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 200px;
    background-color: white;
}

article{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
}

.objetivos{
    display:flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    padding: 0 15px 15px 15px;

    height: 200px;
    width: 700px;
    font-size: 14px;

    background-color: blueviolet;
}

.objetivos p{
    margin-top: 20px;
}

.recomendações{
    height: 100px;
    width: 300px;
    background-color: blue;

}

.personagens{
    height: 100px;
    background-color: red;
}